@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{

/*Colors*/
/*Primary*/
--Soft-Blue: hsl(231, 69%, 60%);
--Soft-Red: hsl(0, 94%, 66%);;

/*Neutral*/
--Grayish-Blue: hsl(229, 8%, 60%);
--Very-Dark-Blue: hsl(229, 31%, 21%);

/*FONT SIZE*/
--heading-1: 2.35em;
--heading-2: 2em;

}

body{
    font-size: 18px;
    font-family: "Rubik", serif;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

h1, p{
    margin: 0;
    padding: 0;
}
/*=================HEADER=================*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 40px;
    padding-inline: 100px;
}
.hidden{
   visibility: hidden;
}
ul{
    list-style: none;
   
   
}
li{
    padding-right: 40px;
    font-size: 0.75em;
    font-weight: 400;
}

a{
    text-decoration: none;
    text-transform:uppercase;
    color: var(--Very-Dark-Blue);
}
.nav-link{
    color: var(--Very-Dark-Blue);
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link:hover{
    color: var(--Soft-Red);
}
.nav-menu .nav-item:last-child .nav-link {
    padding: 8px 25px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--Soft-Red);
    color: red;
    box-shadow: 2px 2px 2px var(--Grayish-Blue);
    transition: all 0.3s ease-in-out;
}
.nav-menu .nav-item:last-child .nav-link:hover {
    color: white;
    background-color: var(--Soft-Red);
}
.nav-toggle{
    cursor: pointer;
    display: none;
}
/*========TOGGLE SECTION======*/

.toggled-list{
   visibility: hidden;
    position: absolute;
    top: 0;
    left:0;
    background-color:  hsl(229, 31%, 21%, 0.9);
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-block: 50px;
}
.toggled-list.show-menu{
    visibility: visible;

}


.logo-bookmark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 50px;
}
.logo-bookmark a{
    color: white;
    display: flex;
    align-items: center;
}
.logo-bookmark a i{
    color: var(--Very-Dark-Blue);
    margin-right: 10px;
    font-size: 12px;
    background-color: white;
    text-align: center;
    padding: 7px;
    border-radius: 50%;
}


.logo-bookmark i:nth-child(2){
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}
.nav-menu-toggle, .toggle-menu {
    width: 100%;
    margin: auto;
    top: -30px;
    position: relative;
}
.toggle-menu .nav-menu-toggle > .nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size: 1.3em;
}
.toggle-menu .nav-menu-toggle > .nav-list .nav-item {
    width: 100%;
    border-top: 1px solid var(--Grayish-Blue);
    padding: 30px 0;
}
.toggle-menu .nav-menu-toggle .nav-list .nav-link{
    color: white;
    display: block;
    width: 100%;
}
.toggle-menu .nav-menu-toggle .nav-list > li:last-child{
    border: 2px solid white;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 30px;
}
.toggle-menu .nav-menu-toggle .nav-list > li:nth-child(3){
    border-bottom: 2px solid var(--Grayish-Blue);
}
.toggle-icons{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.toggle-icons i{
    font-size: 1.5em;
    cursor: pointer;
}


@media (max-width: 900px) and (min-width: 320px) {
   
    #header{
        padding-inline: 50px;
    }
    .nav-menu{
        display: none;
    }
    .nav-toggle{
        display: inline;
    }

    .toggled-list {
        display: flex; /* Show the toggled list on small screens */
    }
}

/*====================BOOKMARK=================*/
.bookmark{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-block: 150px;
    background-color: rebeccapurple;
}
.bookmark-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    text-align: left;
    width: 40%;
    margin-left: 150px;    
}
.bookmark-header{
    font-size: var(--heading-1);
    margin-bottom: 20px;
}
.bookmark-description{
    color: var(--Grayish-Blue);
    line-height: 1.5;
    margin-bottom: 30px;
}
.bookmark-img{
    width: 30%;
    height: 300px;
    background-color: var(--Soft-Blue);
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    position: relative;
}
.hero-img{
    width: 550px;
    position: absolute;
    top: -100px;
    left: -150px;
}
/*==================BUTTONS=================*/
.btn{
  color: white;
  background-color: var(--Soft-Blue);
  padding: 10px 25px;
  border: 1px solid var(--Soft-Blue);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 2px 2px 2px var(--Grayish-Blue);
  transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: white;
    color: var(--Soft-Blue);
}
.book-btn{
    color: var(--Very-Dark-Blue);
    background-color: hsl(230, 29%, 92%);
    border: 1px solid transparent;
}
.book-btn:hover{
    border: 1px solid var(--Very-Dark-Blue);
    color: var(--Very-Dark-Blue);
    background-color: white;
}
/*features*/
.features{
    margin: 100px auto;
    text-align: center;
}
.features-header{
    font-size: var(--heading-2);
}
.features-description{
    width: 43%;
    padding-inline: 50px;
    text-align: center;
    margin: auto;
    color: var(--Grayish-Blue);
    line-height: 1.5;
}
.features-links{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:70px;
    margin-block: 4em;
    color: var(--Grayish-Blue);
    border-bottom: 1px solid var(--Grayish-Blue);
    width: 50%;
    margin-inline: auto;
    position: relative;
}
.features-links a{
    color: var(--Grayish-Blue);
    transition: color 0.3s ease-in-out;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    
}
.features-links a:hover{
    color: var(--Soft-Red);
}

.features-links a.active::before {
    content: "";
    position: absolute;
    bottom: -31px; 
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--Soft-Red);
}

.feature-section.active {
    display: flex;
}
.feature-section{
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    margin-block: 200px;
    width: 100%;
}
.marking-img{
    width: 30%;
    height: 300px;
    background-color: var(--Soft-Blue);
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    position: relative;
}
.features-tab-1{
    width: 500px;
    position: absolute;
    top: -100px;
    right:  -150px;
}
.marking-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    text-align: left;
    width: 30%;
    height: 300px;
    margin-right: 150px;  
}
.marking-header{
    font-size: 2em;
    margin-bottom: 20px;
}
.marking-description{
    color: var(--Grayish-Blue);
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
}
.tab-2{
    width: 450px;
    position: absolute;
    top: -100px;
    right:  -150px;
}
/*=======================================*/
@media (max-width: 1350px) {
    /*====================BOOKMARK=================*/
.bookmark{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-block: 150px;
}
.bookmark-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    text-align: left;
    width: 40%;
    margin-left: 150px;    
}
.bookmark-header{
    font-size: var(--heading-1);
    margin-bottom: 20px;
}
.bookmark-description{
    color: var(--Grayish-Blue);
    line-height: 1.5;
    margin-bottom: 30px;
}
.bookmark-img{
    width: 30%;
    height: 300px;
    background-color: var(--Soft-Blue);
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    position: relative;
}
.hero-img{
    width: 550px;
    position: absolute;
    top: -100px;
    left: -150px;
}
}